@* Import nécessaire pour utiliser User.Identity.GetUserName() *@

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @* Formulaire de déconnexion sécurisé avec token anti-CSRF *@
    using (Html.BeginForm("Logout", "Auth", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right">
    <li>
        @* Lien vers la gestion du profil utilisateur *@
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "MesContacts", "Contact", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>
    @* Lien qui soumet le formulaire pour déconnecter via JavaScript *@
    <li><button type="submit" class="btn btn-link nav-link" style="padding:0;">Se déconnecter</button></li>
</ul>
    }
}
else
{
<ul class="navbar-nav navbar-right">
    @* Lien vers la page d'inscription (création utilisateur) *@
    <li>@Html.ActionLink("S'inscrire", "Create", "Users", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    @* Lien vers la page de connexion *@
    <li>@Html.ActionLink("Se connecter", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
}
