@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Auth", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style = "margin-bottom:0;" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right align-items-center">
            <li class="nav-item">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "MesContacts", "Contact", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item d-flex align-items-center">
                <button type="submit" class="btn btn-link p-0 m-0" style="color: #0d6efd; background: none; border: none; font: inherit; cursor: pointer;">
                    Se déconnecter
                </button>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right align-items-center">
        <li class="nav-item">@Html.ActionLink("S'inscrire", "Create", "Users", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Se connecter", "Login", "Auth", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
