@model GestionContacts2.WebUi.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Mot de passe oublié</h2>
@using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <div class="form-group mb-3">
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", autocomplete = "email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>


    <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
}

